body {
    background-color: rgb(173, 172, 172);
}

.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    margin-left: 20%;
    margin-top: 20%;
}

.bnt-color {
    border-color: red;
    border-radius: 6px;
    border: 5px solid red;
    height: 50px;
    width: 150px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    text-align: center;
}


.bordinha {
    margin-left: 20px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
}

.bnt-color.active .bordinha {
    background-color: var(--cor);
}

.pai {
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.pai img {
    margin-top: 190px;

}