body {
    background-color: black;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100px;
    margin-left: 20%;
    margin-top: 20%;
}

.bnt-color {
    border-color: red;
    border-radius: 6px;
    border: 5px solid red;
    height: 50px;
    width: 150px;
    cursor: pointer;
    background-color: white;
}


.bordinha {
    margin-left: 20px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
}

.bnt-color.active .bordinha {
    background-color: var(--cor);
}

.pai {
    background-color: purple;
    width: 1000px;
    height: 300px;
}