body {
    background-color: rgb(173, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.bnt-color {
    border-radius: 8px;
    height: 40px;
    width: 160px;
    cursor: pointer;
    background-color: #dfdddd;
    padding: 10px;
    text-align: center;
    position: relative;
    box-shadow: 2px 3px 8px -2px
}

.bnt-color h1 {
    font-size: 20px;
    margin-left: 120%;
    transform: translateY(-50%);
}


.bordinha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
    border: 2px solid black;
    border-radius: 6px;
}

.bnt-color.active .bordinha {
    background-color: var(--cor);
}

.pai {
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 20px;
    flex-direction: row;
    align-items: flex-start;



}


.texto {
    margin-bottom: 10px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}